<ul>
    <li>
        <span>Megatrends</span>
        <ul>

        </ul>
    </li>
    <li>Executive Summary</li>
    <li>Strengths / Stärken</li>
    <li>Weaknesses / Schwächen</li>
    <li>Opportunities / Chancen</li>
    <li>Threats / Risiken</li>
    <li>Branchenkennzahlen</li>
    
</ul>

<div class="flex flex-col flex-auto w-full p-8 xs:p-2" *ngIf="industry$ | async as industry">
    <div class="flex flex-wrap w-full">
        <div class="flex flex-auto w-1/3 min-w-80 p-4 lt-xl:w-full">
            <div class="flex flex-col flex-auto p-6 bg-card rounded shadow-md">
                <div class="flex items-center">
                    <div class="flex flex-col">
                        <div class="font-bold text-md text-secondary uppercase tracking-wider">Budget</div>
                        <div class="text-hint text-sm font-medium">Monthly budget summary</div>
                    </div>
                    <div class="ml-auto">
                        <button mat-icon-button [matMenuTriggerFor]="budgetMenu">
                            <mat-icon [svgIcon]="'more_vert'"></mat-icon>
                        </button>
                        <mat-menu #budgetMenu="matMenu">
                            <button mat-menu-item>Expenses breakdown</button>
                            <button mat-menu-item>Savings breakdown</button>
                            <button mat-menu-item>Bills breakdown</button>
                            <mat-divider class="my-2"></mat-divider>
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon class="icon-size-20 mr-3" [svgIcon]="'print'"></mat-icon>
                                    <span>Print budget summary</span>
                                </span>
                            </button>
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon class="icon-size-20 mr-3" [svgIcon]="'email'"></mat-icon>
                                    <span>Email budget summary</span>
                                </span>
                            </button>
                        </mat-menu>
                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="my-4">
                        Last month; you had <strong>223</strong> expense transactions, <strong>12</strong> savings
                        entries and <strong>4</strong> bills.
                    </div>
                    <div class="flex items-center my-4">
                        <div class="flex items-center justify-center w-14 h-14 rounded red-100">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="font-semibold text-xs text-hint uppercase tracking-wider">Expenses</div>
                            <div class="mt-2 font-medium text-2xl">{{industry.budget.expenses}}</div>
                            <mat-progress-bar class="mt-3 rounded-full" [color]="'warn'" [mode]="'determinate'"
                                [value]="(industry.budget.expenses  * 100) / industry.budget.expensesLimit">
                            </mat-progress-bar>
                        </div>
                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                            <div class="text-lg leading-none">2.6%</div>
                            <mat-icon class="text-blue icon-size-16 ml-1" [svgIcon]="'arrow_downward'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex items-center my-4">
                        <div class="flex items-center justify-center w-14 h-14 rounded indigo-100">
                            <mat-icon [svgIcon]="'heroicons_outline:cash'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="font-semibold text-xs text-hint uppercase tracking-wider">Savings</div>
                            <div class="mt-2 font-medium text-2xl">{{industry.budget.savings}}</div>
                            <mat-progress-bar class="mt-3 rounded-full" [mode]="'determinate'"
                                [value]="(industry.budget.savings  * 100) / industry.budget.savingsGoal">
                            </mat-progress-bar>
                        </div>
                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                            <div class="text-lg leading-none">12.7%</div>
                            <mat-icon class="text-blue icon-size-16 ml-1" [svgIcon]="'arrow_upward'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex items-center my-4">
                        <div class="flex items-center justify-center w-14 h-14 rounded teal-100">
                            <mat-icon [svgIcon]="'heroicons_outline:light-bulb'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="font-semibold text-xs text-hint uppercase tracking-wider">Bills</div>
                            <div class="mt-2 font-medium text-2xl">{{industry.budget.bills}}</div>
                            <mat-progress-bar class="mt-3 rounded-full" [mode]="'determinate'"
                                [value]="(industry.budget.bills  * 100) / industry.budget.billsLimit">
                            </mat-progress-bar>
                        </div>
                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                            <div class="text-lg leading-none">105.7%</div>
                            <mat-icon class="text-blue icon-size-16 ml-1" [svgIcon]="'arrow_upward'"></mat-icon>
                        </div>
                    </div>
                    <div class="text-sm text-hint">Exceeded your personal limit on <strong>bills</strong>! Be careful
                        next month.</div>
                </div>
                <div class="flex items-center mt-auto">
                    <button class="mt-2" mat-stroked-button color="primary">
                        <mat-icon [svgIcon]="'cloud_download'"></mat-icon>
                        <span class="ml-3">Download Summary</span>
                    </button>
                </div>
            </div>
        </div>

        
    </div>
</div>